@import url('./style/header.css');
@import url('./style/info-group.css');
@import url('./style/hebergements.css');
@import url('./style/aside.css');
@import url('./style/activites.css');
@import url('./style/footer.css');

/***************** Style Général *****************/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    padding: 0px 40px;
    min-width: 320px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

i {
    display: inline-block;
}

/******************** RESPONSIVE TABLETTE ********************/
@media screen and (max-width: 1023px) {
    /***************** FILTRES *****************/
    .div-filtres {
        flex-direction: column;
        align-items: baseline;
    }

    .titre-filtres {
        margin-bottom: 20px;
    }

    .li-filtres {
        font-size: 16px;
        margin-right: 20px;
    }

    .li-filtres:last-of-type {
        margin-right: 0;
    }

    /***************** HEBERGEMENTS *****************/
    .main-hebergements {
        flex-direction: column;
        margin: 0 auto;
    }

    .section-hebergements {
        margin-right: 0;
    }

    .article-hebergement {
        height: 250px;
    }

    .aside-hebergements, .section-hebergements {
        width: 100%;
    }

    .aside-hebergements {
        margin-top: 30px;
    }

    .div-hebergements-aside {
        flex-direction: row;
        justify-content: space-between;
    }

    .lien-article-populaire {
        width: 30%;
    }

    .article-populaire {
        height: 210px;
    }

    /***************** ACTIVITES *****************/
    .img-activites {
        height: 200px;
    }

}

/******************** RESPONSIVE TELEPHONE ********************/
@media screen and (max-width: 767px) {
    body {
        padding: 0;
    }
    /***************** HEADER *****************/
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .img-logo {
        margin: 30px;
    }

    .navbar {
        width: 100%;
        display: flex;
    }

    .lien-navbar:nth-child(1) {
        margin-right: 0;
    }

    .lien-navbar {
        width: 50%;
        padding-bottom: 20px;
    }

    .lien-navbar:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }

    /***************** INFO GROUP *****************/
    .info-group {
        margin: 0 20px;
    }

    .formulaire-recherche{
        text-align: center;
    }

    .input-form {
        width: 60%;
    }

    .fa-magnifying-glass::before {
        background-color: #0065FC; 
        border-radius: 0 15px 15px 0;
        border: 1px solid #0065FC;
        cursor: pointer;
        padding: 13px;
        padding-bottom: 12px;
        color: #fff;
        cursor: pointer;
        display: block;
    }

    .button-form  {
        display: none;
    }

    .div-liste-filtres{
        width: 100%;
    }

    .ul-filtres {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .li-filtres {
        margin: 0;
        font-size: 14px;
        padding: 10px 7px;
    }

    .icon-filtres {
        margin-right: 5px;
    }

    /***************** HEBERGEMENTS *****************/
    .main-hebergements {
        flex-direction: column-reverse;
    }

    .aside-hebergements {
        margin-top: 0;
        border-radius: 0;
    }

    .div-hebergements-aside {
        flex-direction: column;
    }

    .lien-article-populaire {
        width: 100%;
    }

    .lien-article-populaire:nth-of-type(2) {
        margin: 20px 0;
    }

    .section-hebergements {
        border-radius: 0;
        background-color: #fff;
    }

    .div-hebergements {
        display: flex;
        flex-direction: column;
    }

    /***************** ACTIVITES *****************/
    .div-activites {flex-direction: column;}

    .lien-activites{
        width: 100%;
        margin-bottom: 20px;
    }

    /***************** FOOTER *****************/
    .footer {
        flex-direction: column;
    }

    .div-footer {
        width: 100%;
    }

    .div-footer:nth-of-type(2) {
        margin: 20px 0;
    }
}