/***************** Style Général *****************/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    padding: 0px 40px;
    min-width: 320px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

i {
    display: inline-block;
}

/***************** HEADER *****************/
.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
}

.img-logo {
    width: 60px;
}

.lien-navbar:nth-child(1) {
    margin-right: 50px;
}

.lien-navbar {
    padding-top: 23px;
    text-transform: capitalize;
}

.lien-navbar:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/***************** INFO GROUP *****************/
.info-group {
    padding: 25px 0;
}

.h1-info-group {
    font-size: 22px;
    padding-bottom: 10px;
}

.formulaire-recherche {
    padding: 25px 0;
    margin: 20px 0;
}

.label-form {
    background-color: #F2F2F2;
    padding: 13px 12px 11px 16px;
    border-radius: 15px 0 0 15px;
}

.input-form {
    margin: -5px;
    padding: 10px;
    border: 1px solid #F2F2F2;
    font-size: 18px;
}

.input-form:focus{
    outline: none;
}

.button-form {
    background-color: #0065FC; 
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    padding: 11px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.fa-magnifying-glass::before {
    display: none;
}

.div-filtres {
    display: flex;
    align-items: center;
}

.titre-filtres {
    margin-right: 30px;
}

.ul-filtres {
    display: flex;
    align-items: center;
}

.li-filtres {
    font-size: 17px;
    margin-right: 30px;
    padding: 10px 15px;
    border: 2px solid #D9D9D9;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.2s;
}

.li-filtres:hover {
    background-color: #DEEBFF;
}

.icon-filtres{
    display: block;
    margin-right: 7px;
    color: #0065FC;
    font-size: 17px;
}

.info {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.icon-infos {
    border: 1px solid #D9D9D9;
    padding: 6px 11px;
    border-radius: 50%;
    font-size: 16px;
}

/***************** HEBERGEMENTS *****************/

.main-hebergements {
    display: flex;
    justify-content: space-between;
}

.section-hebergements {
    border-radius: 15px;
    background-color: #F2F2F2;
    padding: 30px;
    width: 80%;
    margin-right: 40px;
}

.titre-hebergements {
    margin-bottom: 20px;
}

.div-hebergements {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.article-hebergement {
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
    height: 250px;
    box-shadow: 0px 3px 15px  rgba(0, 0, 0, 0.1);
}

.img-hebergement {
    border-radius: 15px 15px 0 0;
    height: 124px;
    width: 100%;
    object-fit: cover;
}

.titre-article {
    margin: 10px 0;
}

.p-article{
    margin-bottom: 10px;
}

.titre-article, .p-article, .div-etoiles {
    padding-left: 10px;
}

.euro-gras, .lien-hebergements{
    font-weight: bold;
}

.lien-hebergements {
    display: block;
    margin-top: 30px;
}

.div-etoiles{
    position: absolute;
    bottom: 7px;
}

.star-bleu {
    color: #0065FC;
    filter: drop-shadow(0 0 0.2rem #0065FC)
}

.star-gris {
    color: #f2f2f2;
    filter: drop-shadow(0 0 0.2rem gray);
}

/***************** ASIDE *****************/
.aside-hebergements {
    border-radius: 15px;
    background-color: #F2F2F2;
    padding: 25px;
    width: 35%;
}

.div-titre-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.icon-populaire {
    color: #0065FC;
    margin-left: 20px;
}

.div-hebergements-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

.article-populaire {
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    padding: 8px;
    height: 150px;
    box-shadow: 0px 3px 15px  rgba(0, 0, 0, 0.1);
}

.img-populaire{
    height: 100%;
    object-fit: cover;
    width: 32%;
    border-radius: 20px 0 0 20px;
}

.div-info-populaire {
    position: relative;
}

/***************** ACTIVITES *****************/
.section-activites {
    margin-top: 20px;
    padding: 20px;
}

.titre-section-activites {
    margin-bottom: 30px;
}

.div-activites {
    display: flex;
    justify-content: space-between;
}

.lien-activites {
    width: 23%;
}

.article-activites {
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.img-activites {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.titre-activites {
    padding: 15px;
    font-size: 16px;
    height: 68px;
    display: flex;
    align-items: center;
}

/***************** FOOTER *****************/
.footer {
    background-color: #F2F2F2;
    margin-top: 30px;
    display: flex;
    padding: 20px;
}

.div-footer {
    width: 32%;
    margin-right: 30px;
}

.li-footer, .titre-footer {
    padding-bottom: 15px;
}

/******************** RESPONSIVE TABLETTE ********************/
@media screen and (max-width: 1023px) {
    /***************** FILTRES *****************/
    .div-filtres {
        flex-direction: column;
        align-items: baseline;
    }

    .titre-filtres {
        margin-bottom: 20px;
    }

    .li-filtres {
        font-size: 16px;
        margin-right: 20px;
    }

    .li-filtres:last-of-type {
        margin-right: 0;
    }

    /***************** HEBERGEMENTS *****************/
    .main-hebergements {
        flex-direction: column;
        margin: 0 auto;
    }

    .section-hebergements {
        margin-right: 0;
    }

    .article-hebergement {
        height: 250px;
    }

    .aside-hebergements, .section-hebergements {
        width: 100%;
    }

    .aside-hebergements {
        margin-top: 30px;
    }

    .div-hebergements-aside {
        flex-direction: row;
        justify-content: space-between;
    }

    .lien-article-populaire {
        width: 30%;
    }

    .article-populaire {
        height: 210px;
    }

    /***************** ACTIVITES *****************/
    .img-activites {
        height: 200px;
    }

}

/******************** RESPONSIVE TELEPHONE ********************/
@media screen and (max-width: 767px) {
    body {
        padding: 0;
    }
    /***************** HEADER *****************/
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .img-logo {
        margin: 30px;
    }

    .navbar {
        width: 100%;
        display: flex;
    }

    .lien-navbar:nth-child(1) {
        margin-right: 0;
    }

    .lien-navbar {
        width: 50%;
        padding-bottom: 20px;
    }

    .lien-navbar:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }

    /***************** INFO GROUP *****************/
    .info-group {
        margin: 0 20px;
    }

    .formulaire-recherche{
        text-align: center;
    }

    .input-form {
        width: 60%;
    }

    .fa-magnifying-glass::before {
        background-color: #0065FC; 
        border-radius: 0 15px 15px 0;
        border: 1px solid #0065FC;
        cursor: pointer;
        padding: 13px;
        padding-bottom: 12px;
        color: #fff;
        cursor: pointer;
        display: block;
    }

    .button-form  {
        display: none;
    }

    .div-liste-filtres{
        width: 100%;
    }

    .ul-filtres {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .li-filtres {
        margin: 0;
        font-size: 14px;
        padding: 10px 7px;
    }

    .icon-filtres {
        margin-right: 5px;
    }

    /***************** HEBERGEMENTS *****************/
    .main-hebergements {
        flex-direction: column-reverse;
    }

    .aside-hebergements {
        margin-top: 0;
        border-radius: 0;
    }

    .div-hebergements-aside {
        flex-direction: column;
    }

    .lien-article-populaire {
        width: 100%;
    }

    .lien-article-populaire:nth-of-type(2) {
        margin: 20px 0;
    }

    .section-hebergements {
        border-radius: 0;
        background-color: #fff;
    }

    .div-hebergements {
        display: flex;
        flex-direction: column;
    }

    /***************** ACTIVITES *****************/
    .div-activites {flex-direction: column;}

    .lien-activites{
        width: 100%;
        margin-bottom: 20px;
    }

    /***************** ACTIVITES *****************/
    .footer {
        flex-direction: column;
    }

    .div-footer {
        width: 100%;
    }

    .div-footer:nth-of-type(2) {
        margin: 20px 0;
    }
}