/***************** ACTIVITES *****************/
.section-activites {
    margin-top: 20px;
    padding: 20px;
}

.titre-section-activites {
    margin-bottom: 30px;
}

.div-activites {
    display: flex;
    justify-content: space-between;
}

.lien-activites {
    width: 23%;
}

.article-activites {
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.img-activites {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.titre-activites {
    padding: 15px;
    font-size: 16px;
    height: 68px;
    display: flex;
    align-items: center;
}