/***************** FOOTER *****************/
.footer {
    background-color: #F2F2F2;
    margin-top: 30px;
    display: flex;
    padding: 20px;
}

.div-footer {
    width: 32%;
    margin-right: 30px;
}

.li-footer, .titre-footer {
    padding-bottom: 15px;
}