/***************** INFO GROUP *****************/
.info-group {
    padding: 25px 0;
}

.h1-info-group {
    font-size: 22px;
    padding-bottom: 10px;
}

.formulaire-recherche {
    padding: 25px 0;
    margin: 20px 0;
}

.label-form {
    background-color: #F2F2F2;
    padding: 13px 12px 11px 16px;
    border-radius: 15px 0 0 15px;
}

.input-form {
    margin: -5px;
    padding: 10px;
    border: 1px solid #F2F2F2;
    font-size: 18px;
}

.input-form:focus{
    outline: none;
}

.button-form {
    background-color: #0065FC; 
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    padding: 11px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.fa-magnifying-glass::before {
    display: none;
}

.div-filtres {
    display: flex;
    align-items: center;
}

.titre-filtres {
    margin-right: 30px;
}

.ul-filtres {
    display: flex;
    align-items: center;
}

.li-filtres {
    font-size: 17px;
    margin-right: 30px;
    padding: 10px 15px;
    border: 2px solid #D9D9D9;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
}

.li-filtres:hover {
    background-color: #DEEBFF;
}

.icon-filtres{
    display: block;
    margin-right: 7px;
    color: #0065FC;
    font-size: 17px;
}

.info {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.icon-infos {
    border: 1px solid #D9D9D9;
    padding: 6px 11px;
    border-radius: 50%;
    font-size: 16px;
}