/***************** HEADER *****************/
.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
}

.img-logo {
    width: 60px;
}

.lien-navbar:nth-child(1) {
    margin-right: 50px;
}

.lien-navbar {
    padding-top: 23px;
    text-transform: capitalize;
}

.lien-navbar:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}